@{
    ViewData["Title"] = "About";
}
<h1>About</h1>
<p>@ViewData["Message"]</p>
<ul>
    <li>MVC構造: Controller -> ViewData/Model -> View</li>
    <li>Razor構文: @@ を使って C# を埋め込み</li>
    <li>レイアウト: Shared/_Layout.cshtml で共通化</li>
</ul>
